body.dark .experience {
    transition: .5s all ease;
    background-color: $color-tolopea;
  
    & h2,
    & h3,
    & p {
      color: $color-default-white;
    }

    & h3:hover {
        color: rgba($color-default-white, 0.5);
    }
  
    & li {
      border-color: $color-deep-magenta;
      color: $color-default-white;
    }
  
    & .education__content-button svg {
      stroke: $color-default-white;
    }
  }
  