.footer__social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @include vp-1024 {
    justify-content: space-between;
  }
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-item svg {
  width: 30px;
  height: 30px;

  @include vp-768 {
    width: 40px;
    height: 40px;
  }
}
