body.dark .header__container,
body.dark .header__nav,
body.dark .header {
  transition: .5s all ease;
  background-color: $color-tolopea;

  & a {
    color: $color-default-white;
  }

  & a:hover {
    color: rgba($color-default-white, 0.5);
  }

  & .switch::before {
    content: url("../img/svg/sun-dark.svg");
  }

  & .switch::after {
    content: url("../img/svg/moon-dark.svg");
  }
}
