.projects__container {
  padding: 40px 20px;
  background-color: $color-default-white;
}

.projects h2 {
  @include font("Minecraft", 600, 35px, $color-tolopea, 60px);
  text-align: center;
  letter-spacing: 1px;

  @include vp-768 {
    font-size: 45px;
  }

  @include vp-1024 {
    font-size: 50px;
  }
}

.projects__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  margin: 20px 0;

  @include vp-1024 {
    grid-template-columns: 1fr 1fr;
  }
}

.projects__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: $color-tolopea;
  color: transparent;
  width: 100%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba($color-default-black, 0.1);
  border: 6px dotted $color-deep-magenta;
}

.projects__item-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px) contrast(0.6);
  background-color: rgba($color-deep-magenta, 0.3);

  &--smart-device {
    background-image: url("../img/smart-device.png");
  }

  &--supergym {
    background-image: url("../img/supergym.png");
  }

  &--fin-manager {
    background-image: url("../img/fin-manager.png");
  }

  &--cruises {
    background-image: url("../img/cruises.png");
  }
}

.projects__item-overlay {
  @include font(sans-serif, 600, 25px, $color-tolopea, 30px);
  letter-spacing: 1px;
  background: $color-pale-magenta;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 0;
  height: 100%;
  z-index: 2;
  transition: 0.5s ease;

  @include vp-768 {
    font-size: 30px;
  }
}

.projects__item-description {
  line-height: normal;
  max-width: 70%;
  margin: 20px;
  position: absolute;
  left: -70%;
  transition: 0.5s ease;
}

.projects__item:hover .projects__item-overlay {
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}

.projects__item:hover .projects__item-description {
  left: 0;
  cursor: pointer;
  transition: 0.5s ease;
}

.projects__item-description p {
  @include font(sans-serif, 400, 19px, ($color-tolopea, 0.8), 25px);
  letter-spacing: 1px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;

  @include vp-768 {
    font-size: 30px;
    line-height: 28px;
  }
}
