.skills__container {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  background-color: $color-default-white;

  @include vp-1024 {
    grid-template-columns: 1fr 1fr;
  }
}

.skills h2 {
  @include font("Minecraft", 600, 35px, $color-tolopea, 60px);
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;

  @include vp-768 {
    font-size: 45px;
  }

  @include vp-1024 {}
}

.skills__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.skills__item {
  @include font(sans-serif, 400, 19px, ($color-tolopea, 0.8), 22px);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: $color-pale-magenta;
  padding: 25px;
  border-radius: 30px;
  margin-right: 10px;

  @include vp-768 {
    font-size: 30px;
  }

  @include vp-1024 {
    font-size: 50px;
  }
}
